.git
.gitignore
.gitattributes
.env
*.env.local
*.env.production
.development
.vscode
.idea
Dockerfile
docker-compose.yml
.dockerignore
README.md
tests/
vendor/
node_modules/
app/Logs/*.log
database/seed_data.err
*.md
